@model PizzaFormModel

<div class="container">
    <form asp-controller="Pizza" asp-action="Create" method="post">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <strong>Nome:</strong>
            <input asp-for="Pizza.Name" class="d-block w-100" />
            <span asp-validation-for="Pizza.Name" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Descrizione:</strong>
            <input asp-for="Pizza.Description" class="d-block w-100" />
            <span asp-validation-for="Pizza.Description" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <strong>Immagine:</strong>
            <input asp-for="Pizza.image" class="d-block w-100" />
            <span asp-validation-for="Pizza.image" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <strong>Categorie:</strong>
            <select asp-for="Pizza.CategoryId" rows="4" class="d-block w-100">
                <option value=""></option>
                @foreach (Categories category in Model.Categories)
                {
                    @if (Model.Pizza.CategoryId == category.Id)
                    {
                        <option value="@category.Id" selected>@category.Name</option>
                    }
                    else
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                }
            </select>
        </div>
        <div>
            <strong>Ingredienti:</strong>
            <select asp-for="SelectedIngredients"
                    multiple="multiple"
                    size="10"
                    class="form-control mb-2 mr-sm-2 ml-sm-3 leftList"
                    asp-items="@Model.Ingredienti">
            </select>
        </div>

        <div class="mb-3">
            <strong>Prezzo:</strong>
            <input asp-for="Pizza.price" class="d-block w-100" />
            <span asp-validation-for="Pizza.price" class="text-danger"></span>
        </div>
        <div class="text-end">
            <input type="submit" class="btn btn-small btn-info" value="Salva">
        </div>
    </form>

    <di class="mb-3"><a class="btn btn-info" href="@Url.Action("Index", "Pizza")">Return Index</a></di>
</div>